<div>
  <p-card
    *ngFor="let rifugio of rifugi"
    [header]="rifugio.nome"
    subheader="Card Subheader"
    [style]="{ width: '360px', padding: '1rem', margin: '0.5rem 0 0 0' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img alt="Card" [src]="rifugio.fotoDescrittiva" />
      <p-tag
        [style]="{ float: 'right', margin: '0.5rem 0 0 0' }"
        [severity]="rifugio.aperto ? 'success' : 'danger'"
        [value]="rifugio.aperto ? 'Aperto' : 'Chiuso'"
      ></p-tag>
    </ng-template>

    <p style="margin: 0 !important">
      <span style="font-weight: bold">Aperto: </span> {{ rifugio.apertoDal }}
    </p>
    <p>
      <span style="font-weight: bold">Contattaci: </span>
      {{ rifugio.cellulare }}
    </p>
    <p style="margin: 0 !important">{{ rifugio.descrizione }}</p>

    <p-button
      label="Scopri di più"
      (onClick)="visualizzaRifugio(rifugio)"
    ></p-button>
  </p-card>

  <p-dialog
    *ngIf="rifugio"
    [visible]="modalStatus"
    [modal]="true"
    [style]="{ width: '100vw', height: '100vh' }"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
  >
    <img style="width: 100%" [src]="rifugio.fotoDescrittiva" />

    <div style="padding: 0 1rem">
      <h2>{{ rifugio.nome }}</h2>
      <p>{{ rifugio.descrizione }}</p>

      <p-accordion>
        <p-accordionTab header="Informazioni">
          <div class="accordionInfo">
            <p>
              <span style="font-weight: bold">Periodo apertura:</span>
              {{ rifugio.apertoDal }}
            </p>
            <p>
              <span style="font-weight: bold">Contatti:</span>
              {{ rifugio.cellulare }}
            </p>
          </div>
        </p-accordionTab>
        <p-accordionTab header="I nostri piatti" [selected]="true">
          <div *ngFor="let menu of rifugio.menu">
            <img style="width: 100%" [src]="menu.fotoPiatto" alt="" />

            <div class="accordionInfo">
              <h2 style="margin-bottom: 0">{{ menu.nome }}</h2>
              <p-button
                [style]="{ backgroundColor: 'black', border: 'none' }"
                label="Scopri le recensioni"
                (onClick)="visualizzaRifugio(rifugio)"
              ></p-button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>

    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-angle-left"
        (onClick)="closeModal()"
        label="indietro"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-dialog>

  <div
    style="
      width: 50%;
      height: 4rem;
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    "
  ></div>
</div>
